In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [4]:
df = pd.read_csv('salaries.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [8]:
inputs = df.drop('salary_more_then_100k', axis='columns')
inputs.head()

  company                  job     degree
0  google      sales executive  bachelors
1  google      sales executive    masters
2  google     business manager  bachelors
3  google     business manager    masters
4  google  computer programmer  bachelors

In [14]:
target = df['salary_more_then_100k']
target.head()

0    0
1    0
2    1
3    1
4    0
Name: salary_more_then_100k, dtype: int64

In [17]:
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [20]:
inputs['company_train'] = le_company.fit_transform(inputs['company'])
inputs['job_train'] = le_company.fit_transform(inputs['job'])
inputs['degree_train'] = le_company.fit_transform(inputs['degree'])
inputs

,company,job,degree,company_train,job_train,degree_train
0,google,sales executive,bachelors,2,2,0
1,google,sales executive,masters,2,2,1
2,google,business manager,bachelors,2,0,0
3,google,business manager,masters,2,0,1
4,google,computer programmer,bachelors,2,1,0
5,google,computer programmer,masters,2,1,1
6,abc pharma,sales executive,masters,0,2,1
7,abc pharma,computer programmer,bachelors,0,1,0
8,abc pharma,business manager,bachelors,0,0,0
9,abc pharma,business manager,masters,0,0,1
10,facebook,sales executive,bachelors,1,2,0
11,facebook,sales executive,masters,1,2,1
12,facebook,business manager,bachelors,1,0,0
13,facebook,business manager,masters,1,0,1
14,facebook,computer programmer,bachelors,1,1,0
15,facebook,computer programmer,masters,1,1,1

In [23]:
inputs_train = inputs.drop(['company','job', 'degree'], axis='columns')
inputs_train.head()

   company_train  job_train  degree_train
0              2          2             0
1              2          2             1
2              2          0             0
3              2          0             1
4              2          1             0

In [28]:
model = DecisionTreeClassifier()

X = inputs_train
y = target

In [79]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=25)

model.fit(X_train, y_train)

DecisionTreeClassifier()

In [80]:
y_test

13    1
12    1
0     0
3     1
Name: salary_more_then_100k, dtype: int64

In [81]:
model.predict(X_test)

array([1, 1, 0, 1], dtype=int64)

In [83]:
model.score(X_test, y_test) * 100

100.0

In [84]:
model.predict([[2, 2, 1]])

array([0], dtype=int64)